{% extends "main/base.html" %}

{% block title %} Home Page {% endblock title %}

{% block content %}
    <h5> This is the Home Page</h5>
    <br/><br/>
    {% if user.is_authenticated %}
        <form id="logout-form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <h2 class="display-4 ">Hello, {{user.username}}</h2>
            <br/>
            <hr/>
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    {% else %}
        <p>Login <a href="/login">Here</a>!</p>
    {% endif %}
{% endblock content %}